.macc-joy{
color: orange;
}

.left-side{
  width: 40%;
  font-family: 'Poppins', sans-serif;
  float: left;
  margin: 5%;
}
.left-side a{
color: #000;
text-decoration: none;
background-color: orange;
padding: 5px 20px;
}


.left-img img{
  width: 40%;
  margin: 5%;
}

.right-img{
float: left;
position: relative;
}
.right-img img{
  width: 40%;
}

.right-side{
width: 40%;
font-family: 'Poppins', sans-serif;
position: absolute;
right: 0;
margin: 5%;
}
.right-side a{
  color: #000;
  text-decoration: none;
  background-color: orange;
  padding: 5px 20px;
  margin-bottom: 100px;
}
